:root {
  /* background */
  --c-dark: #141d2d;
  --c-light: #fff;
  --c-accent: #ff6b08;

  --c-dark-blue: #253045;
  --c-grey-blue: #4a5771;
  --c-grey-light: #f1f2f2;
  --c-grey: #bcc1d2;

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: #4f5b70;
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-accent: var(--c-accent);
  --txt-c-light: var(--c-light);

  /* Modals */
  --modal-bgd-dark: rgba(20, 29, 45, 0.8);
  /* font */
  --font-main: "Acrom", sans-serif;

  /* container width */
  --vertical-scroll: 20px;
  --mobile: calc(300px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(900px + var(--vertical-scroll));
  --desktop-lg: calc(1270px + var(--vertical-scroll));

  /* animation */
  --animation-fast: 0.1s;
  --animation-slow: 0.3s;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
    url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Bold.eot");
  src: local("Acrom Bold"), local("Acrom-Bold"),
    url("../fonts/acrom/Acrom-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Bold.woff") format("woff"),
    url("../fonts/acrom/Acrom-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Regular.eot");
  src: local("Acrom Regular"), local("Acrom-Regular"),
    url("../fonts/acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Regular.woff") format("woff"),
    url("../fonts/acrom/Acrom-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Acrom";
}

/*COMON
============================ */
.accent_btn {
  background: var(--c-accent);
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  padding: 20px 35px;
  outline: none;
  border: none;
  cursor: pointer;
}

.accent_btn:hover {
  background-color: rgb(123, 112, 224);
  color: #3d4e6e;
  opacity: all 0.3 ease-in-out;
}
.container {
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  padding: 30px 10px 55px 10px;
}

.container-left {
  align-items: flex-start;
}

.section-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.destop-element {
  display: none;
}
.desktop-element {
  display: none;
}
.tablet-element {
  display: none;
}
/* Modals
====================== */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  display: block;
  background: var(--modal-bgd-dark);
  z-index: 3;
}
.modal-active {
  display: bloc;
  opacity: 1;
  transition: all 0.3 ease-in-out;
  pointer-events: all;
}
.modal-mobile-menu {
  background: var(--c-light);
}
.modal-mobile-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.mobile-menu-container {
  height: 70%;
  justify-content: space-between;
  margin: 0;
}
.modal-close-btn {
  font-size: 18px;
  position: absolute;
  color: var(--c-grey-blue);
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.modal-mobile-menu-close-btn {
  background: var(--c-accent);
  color: var(--c-light);
  padding: 10px 14px;
}
/* Modal Video
=============== */
.my-video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 10px;
}
.my-video-content {
  width: 100%;
}
.my-video-close-btn {
  background: var(--c-light);
  color: var(--c-dark);
  padding: 10px 14px;
}

.body-scroll-disable {
  overflow: hidden;
}

/* Modal-Thanks
=============== */
.modal-thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
}
.request-received-container {
  background: var(--c-light);
  padding: 80px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-thanks {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--c-accent);
  margin-bottom: 15px;
  margin-top: 0;
}
.text-received {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-dark);
  margin-top: 0;
}
.text-contact {
  width: 185px;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  color: var(--txt-c-dark);
  margin: 0;
}
.modal-thanks-close-btn {
  background: var(--c-light);
  color: var(--c-grey);
}

/* Mobile Menu
=============== */
.mobile-menu-items {
  display: flex;
  flex-direction: column;
}

.mobile-menu-item {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-grey);
  text-decoration: none;
  text-align: center;
  margin-bottom: 35px;
}
.mobile-menu-item:hover {
  color: rgb(224, 215, 183);
  font-size: 18px;
  opacity: all 0.3 ease-in-out;
}
.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
}
.mobile-menu-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  text-decoration: none;
}
.mobile-menu-email {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  text-decoration: none;
  margin-bottom: 5px;
}
/* PROJECT MODAL */

.project-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  box-sizing: border-box;
}

.project-modal-container {
  background: var(--c-light);
  padding: 45px 0;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  height: 85%;
}

.project-modal-scrollable {
  overflow-y: auto;
  height: 100%;
  padding: 0 25px;
}

.project-modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: var(--txt-c-dark);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 25px 0;
  display: block;
}

.project-modal-text {
  font-size: 16px;
  line-height: 145%;
  color: var(--txt-c-dark);
  margin: 0 0 30px 0;
}

.project-modal-img {
  width: 100%;
  margin-bottom: 30px;
}

/*Front Page
============================ */
.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navigation_part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo_link {
  text-decoration: none;
  opacity: all 0.2s ease-in-out;
}
.logo-link:hover {
  transform: scale(1.1);
}
.hire_me_btn {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  color: var(--txt-c-accent);
}
.hire_me_btn:hover {
  color: rgb(255, 255, 255);
}
.mobile_menu {
  width: 30px;
  height: 30px;
  background: var(--txt-c-accent);
  display: block;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mobile_menu .fa-bars {
  color: var(--txt-c-light);
}
/* Front page
===================== */

.front-page-main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front-page-wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front_page_my_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front_page-about_me_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front_page {
  min-width: 320px;
  width: 100%;
  background: var(--c-dark);
  padding: 30px 10px 55px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front_page_my_name {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-align: center;
  margin: 35px 0 10px;
}
.front_page_profession {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  text-align: center;
  margin-bottom: 20px;
}
.front_page_description {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  margin-bottom: 20px;
}
.front_page_gallery_btn {
  margin-bottom: 40px;
  text-decoration: none;
  text-align: center;
}
.front_page_my_photo {
  width: 100px;
  margin-bottom: 20px;
}
.front_page_my_decr {
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--c-light);
  margin: 0 0 15px;
}
.front_page_my_video_btn {
  border: 2px solid var(--c-accent);
  color: var(--c-accent);
  padding: 10px 40px;
  background: transparent;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
}
.front_page_my_video_btn:hover {
  color: #fff;
}
.front_page_my_video_btn .fa-play {
  font-size: 9px;
  margin-right: 7px;
}

.front_page_laptop {
  width: 250px;
  margin-bottom: 40px;
}

/*Experience
============================ */
.experience_container {
  display: flex;
  flex-direction: column;
}

.experience_title {
  width: 240px;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  text-align: center;
  margin: 0 0 30px 0;
}
.experience_skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 28px;
}
.experience_dots {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.experience_dots_item {
  color: var(--c-grey-blue);
  font-size: 8px;
  margin-right: 5px;
}
.experience_dots_item_accent {
  color: var(--c-accent);
}
.experience_text {
  color: var(--txt-c-light);
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--txt-c-light);
}
/* ABOUT PAGE */

.about-title {
  color: var(--txt-c-dark);
  text-align: left;
  width: 280px;
  margin: 20px 0;
}

.about-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.about-descr span {
  background: var(--c-dark-blue);
  padding: 4px 9px;
}

.about-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--c-dark);
  margin: 0 0 30px 0;
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.about-img-text {
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  writing-mode: tb-rl;
  margin: auto;
  position: relative;
}

.about-img {
  width: 235px;
  height: 254px;
  position: absolute;
  left: -35px;
  top: 55px;
}

/* PERSONAL PROJECT */

.personal-projects {
  background: var(--c-dark);
}

.personal-project-item-container {
  padding-top: 40px;
  background: var(--c-dark-blue);
  border-radius: 5px 5px 0 0;
  position: relative;
}

.personal-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-light);
  margin: 25px 0;
  display: flex;
}

.personal-project-img {
  width: 100%;
}

.personal-projects-title {
  margin-top: 20px;
}

.projet-item-dot-container {
  display: flex;
  position: absolute;
  top: 17px;
  left: 20px;
}

.personal-project-item {
  border-bottom: 1px solid var(--c-grey-blue);
  margin-bottom: 30px;
}

.personal-project-item:last-child {
  margin-bottom: 0;
}

.projet-item-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--c-grey-blue);
  margin-right: 7px;
}

.projet-item-dot:first-child {
  background: var(--c-accent);
}

.personal-project-icon {
  font-size: 18px;
  color: var(--c-accent);
  margin-right: 15px;
  margin-top: 3px;
}

.personal-project-btn {
  padding: 15px 30px 15px 10px;
  margin-bottom: 30px;
}
.swiper-container {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}

/* TEAM PROJECT */

.team-projects .container {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 0;
}

.team-projects-title {
  color: var(--txt-c-dark);
  position: relative;
  margin-bottom: 40px;
}

.team-projects-title-bgd {
  position: absolute;
  top: -50px;
  left: 45px;
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  z-index: -1;
}

.team-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 25px 0;
  display: flex;
}

.team-project-item {
  border-bottom: 1px solid var(--c-grey-light);
  margin-bottom: 30px;
}

.team-project-item:last-child {
  margin-bottom: 0;
}

/* Form */
.callback-form-container {
  width: 100%;
  background: var(--c-dark);
  padding: 35px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.callback-form-title {
  width: 260px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 0 20px 0;
}
.callback-form-descr {
  width: 260px;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  text-align: center;
  margin: 0 0 30px 0;
}
.callback-form-input-container {
  display: flex;
  flex-direction: column;
}
.callback-form-input {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 10px 15px 10px;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--c-dark-blue);
  border-bottom: 1px solid var(--c-grey-blue);
  text-align: center;
  color: var(--c-grey-blue);
  margin-bottom: 30px;
}
.callback-form-submit {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
}

.callback-form-input-error {
  border: 1px solid red;
}
/* CALCULATOR FORM SECTION */

.calculator {
  background: var(--c-dark);
}
.calculator .container {
  padding-bottom: 75px;
}
.calculator-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-icon {
  width: 195px;
}

.calculator-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 0 30px 0;
  width: 276px;
}

.calculator-descr span {
  background: var(--c-accent);
  padding: 5px;
}

.calculator-descr .calculator-descr-accent {
  padding: 5px 10px;
}

.calculator-title {
  width: 270px;
  margin-bottom: 20px;
}

.calculator-form {
  background-color: var(--c-light);
  padding: 30px 25px;
}
.calculator-text {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  margin: 20px 0 30px 0;
}
.calculator-form-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin-bottom: 15px;
}

.calculator-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.calculator-form-imput-field {
  margin: 0 10px 0 0;
}
.calculator-form-select {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--txt-c-grey);
  padding: 5px 0 17px 0;
}
.calculator-form-imput-radio-container {
  display: flex;
  align-items: center;
}
.calculator-form-imput-label {
  margin-right: 15px;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}
.calculator-form-total-cost {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: var(--txt-c-dark);
  margin: 0;
}
.calculator-form-total {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0;
}

/* FOOTER */

.footer-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  margin: 0;
}
.footer-prowess {
  margin: 0 0 20px 0;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
}
.footer-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  margin-bottom: 15px;
}
.footer-email {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  margin-bottom: 30px;
}
.footer-icons {
  justify-content: space-around;
}
.fab {
  width: 25px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
}

/* MULTI SELECT */

.calculator-form-input .tech-input-container .choices__item {
  background: var(--c-accent);
  border: none;
  border-radius: 3px;
  position: relative;
}

.calculator-form-input .tech-input-container:after {
  content: "\f107";
  height: 0;
  width: 0;
  position: absolute;
  right: 10px;
  top: 45%;
  margin-top: -2.5px;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.calculator-form-input .tech-input-container {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--c-grey);
  padding-left: 0;
  display: flex;
  align-items: center;
  min-height: 35px;
  box-sizing: border-box;
}

.calculator-form-input .choices__input {
  display: none;
}

.calculator-form-input .choices__item .choices__button {
  border-left: none;
  margin: 0;
  padding-left: 8px;
}
/* MOBIL 640
======================= */

@media only screen and (min-width: 640px) {
  .container {
    min-width: 640px;
  }
  .front_page {
    padding-bottom: 0;
  }
  .mobile-element {
    display: none;
  }
  .tablet-element {
    display: block;
  }
  .desktop-element {
    display: none;
  }

  .front_page_my_name {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0;
  }
  .front_page_profession {
    margin-top: 20px;
    font-size: 55px;
    line-height: 66px;
    width: 410px;
  }
  .profession-part-1 {
    margin-right: 40px;
  }
  .profession-part-2 {
    margin-left: 40px;
  }
  .front_page_description {
    font-size: 17px;
    width: 385px;
    margin: 30px 0 40px;
  }
  .front_page_my_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }
  .front_page_my_photo {
    width: 140px;
    margin-right: 35px;
    margin-bottom: 0;
  }

  .front_page_my_decr {
    text-align: left;
  }
  .front_page_my_video_btn {
    margin-bottom: 0;
  }
  .front_page_laptop {
    width: 400px;
    margin-bottom: 90px;
  }
  .experience_container {
    margin-bottom: 70px;
  }
  .front_page-about_me_container {
    align-items: flex-start;
  }
  .about .container {
    position: relative;
  }

  .about-img-text {
    position: absolute;
    right: 22px;
    top: 228px;
    font-size: 200px;
    line-height: 240px;
  }

  .about-img {
    width: 361px;
    height: 390px;
    left: -105px;
    top: 70px;
  }

  .about-img-container {
    margin-bottom: 0;
  }

  .about-title {
    font-size: 50px;
    line-height: 60px;
    width: 600px;
  }

  .about-descr {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 60px;
  }

  .about-text:last-child {
    width: 320px;
    margin-bottom: 84px;
  }

  .team-projects-title,
  .personal-projects-title {
    text-align: left;
    width: 400px;
    font-size: 50px;
    line-height: 60px;
  }

  .team-project-item,
  .personal-project-item {
    margin: 0 25px 40px 25px;
  }

  .callback-form .container,
  .personal-projects .container,
  .team-projects .container {
    align-items: normal;
  }

  .team-projects-title-bgd {
    font-size: 200px;
    line-height: 240px;
    top: 19px;
  }
  .callback-form-container {
    padding: 75px 0 80px 0;
  }
  .callback-form-title {
    font-size: 36px;
    line-height: 43px;
    width: 385px;
  }
  .callback-form-descr {
    width: 385px;
  }
  .callback-form-input {
    width: 385px;
    box-sizing: border-box;
  }
  .callback-form-submit {
    width: 385px;
    margin-top: 10px;
    text-align: center;
  }
  /* CALCULATOR
======================= */
  .calculator-title {
    width: 605px;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 40px;
  }
  .calculator-descr {
    text-align: left;
    font-size: 36px;
    width: 586px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .calculator .container {
    align-items: normal;
    padding-bottom: 90px;
  }
  .container {
    display: block;
  }
  .calculator-info-container {
    align-items: flex-start;
  }

  .calculator-icon {
    position: absolute;
    right: 10px;
    width: 344px;
    z-index: 1;
  }
  .calculator-text {
    text-align: left;
    width: 330px;
    font-size: 17px;
    line-height: 150%;
    margin-top: 10px;
    margin-bottom: 75px;
  }
  .calculator-form {
    position: relative;
    z-index: 2;
    padding: 60px 80px 70px 80px;
    margin: 0 5px 0 5px;
  }
  .calculator-form-title {
    line-height: 150%;
  }
  .accent_btn {
    width: 440px;
  }
  .footer-mein-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer-title {
    text-align: left;
  }
  .footer-phone {
    text-align: right;
  }
  .footer-email {
    margin-bottom: 0;
  }
  .swiper-container {
    width: 600px;
    height: auto;
  }
}
/* DESCTOP 1000PX
======================= */
@media only screen and (min-width: 1000px) {
  .container {
    max-width: var(--desktop-lg);
  }
  .front_page {
    padding-top: 0;
  }
  .tablet-element {
    display: none;
  }
  .desktop-element {
    display: block;
  }
  .destop-element {
    display: block;
  }
  .front-page-wraper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 115px;
  }
  .front_page_profession {
    font-size: 70px;
    line-height: 84px;
    width: 510px;
    margin-left: -60px;
    margin-bottom: 35px;
  }
  .front_page_my_name {
    margin-top: 0;
  }
  .front-page-main-info {
    width: 387px;
    align-items: flex-start;
    order: 2;
    z-index: 2;
    position: relative;
  }
  .front-page-my-photo {
    position: absolute;
    width: 256px;
    z-index: -1;
    right: -70px;
    bottom: 245px;
  }
  .front_page_description {
    text-align: left;
    margin-bottom: 65px;
    margin-top: 0;
  }
  .front_page_gallery_btn {
    width: 386px;
    box-sizing: border-box;
    margin-bottom: 90px;
  }
  .front_page-about_me_container {
    z-index: 2;
  }
  .profession-part-2 {
    margin-left: 60px;
  }

  .front_page_laptop {
    position: absolute;
    bottom: -64px;
    right: 0;
    z-index: 1;
  }
  .experience-wraper {
    order: 1;
  }

  .front_page_my_info {
    order: 3;
  }
  .front_page_my_decr {
    text-align: right;
  }
  .experience_skill {
    margin-left: 0;
  }
  .experience_title {
    text-align: left;
  }
  /* Galleries */

  .team-project-item-wrapper,
  .personal-project-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .team-project-item,
  .personal-project-item {
    width: calc(50% - 20px);
  }

  .team-project-item:nth-child(odd),
  .personal-project-item:nth-child(odd) {
    margin: 0 20px 40px 0;
  }

  .team-project-item:nth-child(even),
  .personal-project-item:nth-child(even) {
    margin: 0 0 40px 20px;
  }

  .team-projects-title,
  .personal-projects-title {
    font-size: 70px;
    line-height: 84px;
    width: 530px;
  }

  .team-projects-title-bgd {
    font-size: 250px;
    line-height: 300px;
    top: 35px;
    left: 274px;
  }
  .mobile-menu-item {
    margin-right: 35px;
    margin-bottom: 0;
  }
  .mobile-menu-item :last-child {
    margin-right: 35px;
  }
  .logo_link {
    width: 310px;
  }

  .about-title {
    font-size: 70px;
    line-height: 84px;
    width: 620px;
    margin-top: 0;
  }

  .about-text {
    width: 406px;
  }
  .about-text:last-child {
    width: 388px;
    margin: 0;
  }

  .about-content-wrapper {
    position: relative;
  }

  .about .container {
    display: flex;
    flex-direction: row;
    padding: 135px 10px;
    justify-content: space-between;
  }

  .about-projects-bar {
    background: var(--c-accent);
    width: 159px;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 5px;
    margin-bottom: 35px;
    margin-top: 15px;
  }

  .about-projects {
    z-index: 2;
  }

  .about-projects-count {
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    color: var(--txt-c-light);
    margin: 0;
  }

  .about-projects-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 135%;
    color: var(--txt-c-dark);
    text-transform: uppercase;
    width: 125px;
  }

  .about-img-text {
    font-size: 250px;
    line-height: 300px;
    right: -223px;
    top: -23px;
    z-index: 1;
  }

  .about-img {
    top: 0;
    width: 421px;
    height: 455px;
    left: -35px;
  }
  .callback-form-title {
    width: 100%;
    margin-bottom: 10px;
  }
  .callback-form-descr {
    width: 100%;
    margin-bottom: 50px;
  }
  .callback-form-input-container {
    flex-direction: row;
    display: flex;
  }
  .callback-form-input {
    width: 260px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    margin-bottom: 30px;
  }
  .callback-form-submit {
    width: 265px;
    padding: 15px 20px;
  }

  .calculator {
    min-width: 1000px;
  }
  .calculator .container {
    display: flex;
    flex-direction: row;
    padding: 150px 10px;
    justify-content: space-between;
  }
  .calculator-info-container {
    position: relative;
  }
  .calculator-form {
    padding: 40px 50px;
    margin-left: 50px;
  }
  .calculator-form-input {
    width: 278px;
  }
  .calculator-title {
    margin-top: 0;
    font-size: 70px;
    line-height: 84px;
    width: 710px;
    margin-bottom: 50px;
  }
  .calculator-text {
    width: 348px;
    z-index: 2;
  }
  .calculator-descr {
    margin-bottom: 40px;
    z-index: 2;
  }
  .swiper-container {
    width: 900px;
  }

  .accent_btn {
    width: 276px;
    padding: 15px 40px;
  }
  .calculator-icon-container {
    width: 344px;
  }
  .calculator-icon {
    position: absolute;
    right: -20px;
    width: 344px;
    z-index: 1;
    top: 380px;
  }
  .footer-mein-contact {
    display: -webkit-box;
  }
  .footer-contacts {
    width: calc(50% + 100px);
  }
  .footer-phone {
    text-align: center;
  }
  .footer-icons {
    display: flex;
    justify-content: flex-end;
  }
  .modal .request-received-container {
    width: 605px;
  }
  .text-thanks {
    font-size: 24px;
    line-height: 29px;
  }
  .text-received {
    width: 353px;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 22px;
  }
  .text-contact {
    width: 100%;
    font-size: 17px;
    line-height: 25px;
  }
}
